<launch>
  <!-- Gazebo boş dünya yükleniyor -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find arkhe_gazebo)/worlds/runway.world"/>
    <arg name="verbose" value="true"/>
  </include>

  <!-- İlk Node: Drone Modelini Spawn Et -->
  <node name="spawn_drone" pkg="gazebo_ros" type="spawn_model" 
        args="-sdf -file $(find arkhe_gazebo)/models/drone_with_camera/model.sdf -x 0.0 -y 0.0 -z 0.0 -model iris"
        launch-prefix="bash -c 'sleep 0; $0 $@'" />

  <!-- Ek parametreler -->
  <arg name="robot_namespace" default="/"/>
  <arg name="top_plate_enable" default="false"/>
  <arg name="x" default="2.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.1"/>
  <arg name="yaw" default="0.0"/>

  <!-- Husky Robot Tanımları -->
  <group ns="$(arg robot_namespace)">
    <include file="$(find husky_control)/launch/control.launch"/>
    <include file="$(find husky_control)/launch/teleop.launch">
      <arg name="joystick" value="false"/>
    </include>
    <param name="robot_description" 
           command="$(find xacro)/xacro $(find arkhe_gazebo)/models/husky/urdf/ugv.urdf.xacro robot_namespace:=$(arg robot_namespace)"/>
    <node name="spawn_mov_platf" pkg="gazebo_ros" type="spawn_model"
          args="-x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg yaw) -unpause -urdf -param robot_description -model husky -robot_namespace $(arg robot_namespace)"
          launch-prefix="bash -c 'sleep 0; $0 $@'" />
  </group>
  
  <!-- NOT: drone_pose_controller.py ve move_platform.py ayrı terminallerde
       SITL başlatıldıktan sonra elle çalıştırılacak.
       Sıra: 1) Bu launch, 2) SITL, 3) controller, 4) move_platform -->

</launch>
